<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Counter &amp; Users</title>
  </head>
  <body>
    <main>
      <article>
        <div class='counter-container'>
          <h3>Counter</h3>
          <p>
            <%= counter %> times.
          </p>
        </div>
      </article>
      <section>
        <aside>
          <form action="/by-two" method='post'>
            <input type="submit" value='+2'>
          </form>
        </aside>
        <aside>
          <form action="/reset" method='post'>
            <input type="submit" value='Reset'>
          </form>
        </aside>
      </section>
        <form action='/users' method='post'>
          Name: <input type='text' name='name'>
          Email: <input type='text' name='email'>
          <input type='submit' value='create user'>
        </form>
    </main>
  </body>
</html>
